# ./
build/
devel/
thirdparties/
*.bag
.vscode/
/*.csv
ROS1_tutorials/
logs/
backup/
.catkin_tools/
# ./src/imu
/src/imu/imu_tools/
/src/imu/imu_pkg/scripts/*.csv


# ./src/wheeltec
/src/wheeltec_noetic_src/
